body {
  font-family: "Schoolbell", cursive;
  background-color: #f3f3f3;
}
.account-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  padding: 60px 45px;
  border-top: 1px solid #b9b9b9;
}
.account-left {
  width: 70%;
}
.account-right {
  width: 25%;
  float: right;
}
.btn,
.btn-red {
  font-family: poppins;
  font-weight: 800;
  color: white;
  padding: 7px 40px;
  background-color: #3898af;
  border-radius: 20px;
  font-size: 13px;
  transition: 0.3s;
}
.btn-red {
  background-color: #b24043;
}
.btn:hover,
.btn-red:hover {
  opacity: 0.5;
}
.title {
  font-size: 40px;
  border-bottom: 3px solid #3898af;
  margin: 0 560px;
  margin-bottom: 15px;
}
.path {
  font-family: poppins;
  font-size: 13px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.path:hover {
  color: #b24043;
}
.input-group {
  border-radius: 20px;
  background-color: #f3f3f3;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 15px;
  outline: none;
  font-family: poppins;
  font-weight: 600;
  color: black;
  font-size: 13px;
}
.required {
  color: red;
}
